@font-face {
	font-family: FuturaPtBold;
	font-display: swap;
	src: url("../fonts/FuturaPtBold.woff2") format("woff2"), url("../fonts/FuturaPtBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaPtBook;
	font-display: swap;
	src: url("../fonts/FuturaPtBook.woff2") format("woff2"), url("../fonts/FuturaPtBook.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaPtMedium;
	font-display: swap;
	src: url("../fonts/FuturaPtMedium.woff2") format("woff2"), url("../fonts/FuturaPtMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
