.publish-post {
    /* .publish-post__container */

    &__container {
        margin-bottom: 20px;
        // @include adaptiveValue("max-width", 880, 740, 1920, 1260, 1);
        // margin: 0 28.64% 0 25.520833%;
    }

    /* .publish-post__body */

    &__body {
        background-color: #fff;
        padding: 20px;
        border: 1px solid rgb(225, 228, 234);
        border-radius: 15px;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    /* .publish-post__your-story */

    &__your-story {
    }

    /* .publish-post__add-tag */

    &__add-tag {
        margin-bottom: 28px;
    }

    /* .publish-post__publish */

    &__publish {
    }
}
.story-your-post-publish {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225, 228, 234);
    /* .story-your-post-publish__left */

    &__left {
    }

    /* .story-your-post-publish__right */

    &__right {
    }
}
.left-publish-post-your-story {
    /* .left-publish-post-your-story__img */

    &__img {
    }
}
.right-publish-post-your-story {
    /* .right-publish-post-your-story__title */

    &__title {
        /* H4-20-140/medium */
        color: rgb(176, 179, 199);
        font-family: Futura PT;
        font-size: 20px;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }

    /* .right-publish-post-your-story__text */

    &__text {
        /* p-16-140/book */
        color: rgb(176, 179, 199);
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: -11px;
            top: 8px;
            height: 7px;
            width: 2px;
            background-color: $light-gray;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            width: 7px;
            height: 2px;
            background-color: $light-gray;
            left: -14px;
            top: 11px;
        }
    }
}
.tag-add-post-publish {
    display: flex;
    gap: 10px;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(225, 228, 234);
    align-items: center;
    /* .tag-add-post-publish__title */

    &__title {
    }

    /* .tag-add-post-publish__text */

    &__text {
        /* p-16-140/book */
        color: rgb(176, 179, 199);
        font-family: FuturaPtBook;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}
.title-publish-post-add-tag {
    display: flex;
    align-items: center;
    gap: 10px;
    /* .title-publish-post-add-tag__img */

    &__img {
    }

    /* .title-publish-post-add-tag__title */

    &__title {
        /* p-16-140/book */
        color: rgb(45, 49, 66);
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}
.publish-post-publish {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* .publish-post-publish__icon-ai */

    &__icon-ai {
        margin-right: 10px;
    }

    /* .publish-post-publish__icon-items */

    &__icon-items {
        border-left: 1px solid rgb(225, 228, 234);
    }

    /* .publish-post-publish__button */

    &__button {
        padding: 10px 55px;
        justify-self: flex-end;
        background-color: $primaru-blue;
        color: #fff;
        /* p-14-140/medium */
        color: rgb(255, 255, 255);
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        border-radius: 5px;
    }

    // .publish-post-publish__wrap-icon
    &__wrap-icon {
        display: flex;
    }
}
.ai-icon-publish-post-publish {
    /* .ai-icon-publish-post-publish__img */

    &__img {
    }
}
.items-icon-publish-post-publish {
    display: flex;
    gap: 24px;
    padding-left: 20px;

    /* .items-icon-publish-post-publish__img */

    &__img {
    }
}

.tag-add-post-publish {
    /* .tag-add-post-publish__spollers */

    &__spollers {
    }

    /* .tag-add-post-publish__spollers-item */

    &__spollers-item {
    }

    /* .tag-add-post-publish__spollers-title */

    &__spollers-title {
    }

    /* .tag-add-post-publish__spollers-body */

    &__spollers-body {
    }
}

.title-spollers-publish-post-add-tag {
    display: flex;
    align-items: center;
    gap: 10px;

    /* .title-spollers-publish-post-add-tag__img */

    &__img {
    }

    /* .title-spollers-publish-post-add-tag__title */

    &__title {
    }
}

.add-stories {
    /* .add-stories__container */

    &__container {
        overflow: auto;
        margin-bottom: 20px;
        padding: 0px 60px;
    }

    /* .add-stories__body */

    &__body {
    }
}
.body-stories-add {
    overflow: hidden;
    /* .body-stories-add__items */

    &__items {
    }
}
.items-add-stories-body {
    /* .items-add-stories-body__item */

    &__item {
    }
}
.item-body-stories-add-items {
    display: flex;
    gap: 10px;
    overflow: auto;
    /* .item-body-stories-add-items__icon-text */

    &__icon-text {
    }

    // item-body-stories-add-items__wrap-border

    &__wrap-border {
        border: 2px solid rgb(0, 178, 234);
        border-radius: 15px;
        width: fit-content;
        padding: 3px;
    }
}
.text-icon-items-add-stories-body-item {
    width: 150px;
    height: 150px;

    position: relative;

    padding: 10px;

    /* .text-icon-items-add-stories-body-item__img */

    &__img {
        position: relative;
        z-index: 33;
    }

    // text-icon-items-add-stories-body-item__wrap

    &__wrap {
        display: flex;
        position: absolute;
        bottom: 10px;
        gap: 5px;
    }

    /* .text-icon-items-add-stories-body-item__text */

    &__text {
        position: relative;
        z-index: 33;
        /* p-16-140/medium */
        color: rgb(255, 255, 255);
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }

    /* .text-icon-items-add-stories-body-item__bg */

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.bg-item-body-stories-add-items-icon-text {
    /* .bg-item-body-stories-add-items-icon-text__img */

    &__img {
        width: 100%;
        height: 100%;
    }
}

.main-block {
    /* .main-block__container */

    &__container {
        padding: 0px 60px;

        @include adaptiveValue("padding-left", 60, 0, 980, 380, 1);
        @include adaptiveValue("padding-right", 60, 10, 980, 380, 1);
    }

    /* .main-block__body */

    &__body {
    }
}
.body-block-main {
    border: 1px solid rgb(225, 228, 234);
    border-radius: 15px;
    background: rgb(255, 255, 255);
    padding: 20px;
    /* .body-block-main__header */

    &__header {
        margin-bottom: 20px;
    }

    /* .body-block-main__title */

    &__title {
        margin-bottom: 5px;
    }

    /* .body-block-main__text */

    &__text {
        margin-bottom: 25px;
    }

    /* .body-block-main__tags */

    &__tags {
        margin-bottom: 20px;
    }

    /* .body-block-main__footer */

    &__footer {
    }
}
.header-main-block-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* .header-main-block-body__left */

    &__left {
    }

    /* .header-main-block-body__right */

    &__right {
    }
}
.left-body-block-main-header {
    display: flex;
    gap: 10px;
    /* .left-body-block-main-header__img */

    &__img {
    }

    /* .left-body-block-main-header__content */

    &__content {
    }
}
.content-header-main-block-body-left {
    /* .content-header-main-block-body-left__up */

    &__up {
    }

    /* .content-header-main-block-body-left__down */

    &__down {
    }
}
.up-left-body-block-main-header-content {
    display: flex;
    align-items: center;
    gap: 5px;
    /* .up-left-body-block-main-header-content__title */

    &__title {
    }

    /* .up-left-body-block-main-header-content__text */

    &__text {
    }
}
.title-content-header-main-block-body-left-up {
    /* p-18-140/book */
    color: rgb(45, 49, 66);
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    @media (max-width: $mobile) {
        font-size: 14px;
    }
}
.text-content-header-main-block-body-left-up {
    /* p-14-140/medium */
    color: rgb(176, 179, 199);
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 450;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    @media (max-width: $mobile) {
        display: none;
    }
}
.down-left-body-block-main-header-content {
    /* .down-left-body-block-main-header-content__time */

    &__time {
        /* p-14-140/book */
        color: rgb(176, 179, 199);
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }
}
.right-body-block-main-header {
    display: flex;
    align-items: center;
    gap: 30px;

    /* .right-body-block-main-header__subscribe */

    &__subscribe {
    }

    /* .right-body-block-main-header__points */

    &__points {
    }
}
.subscribe-header-main-block-body-right {
    display: flex;
    align-items: center;
    gap: 5px;
    /* .subscribe-header-main-block-body-right__img */

    &__img {
    }

    /* .subscribe-header-main-block-body-right__title */

    &__title {
        /* p-14-140/medium */
        color: rgb(0, 178, 234);
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}
.points-header-main-block-body-right {
    position: relative;
    display: flex;
    gap: 5px;
    cursor: pointer;
    /* .points-header-main-block-body-right__point */

    &__point {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #b0b3c7;
    }
}
.title-main-block-body {
    /* H4-20-140/medium */
    color: rgb(45, 49, 66);
    font-family: FuturaPtMedium;
    font-size: 20px;
    font-weight: 450;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.text-main-block-body {
    /* p-16-140/book */
    color: rgb(45, 49, 66);
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px #e1e4ea solid;
    padding-bottom: 20px;
}
.tags-main-block-body {
    display: flex;
    gap: 5px;

    //.tags-main-block-body__wrap

    &__wrap {
        display: flex;
        overflow: auto;
        gap: 5px;
    }

    /* .tags-main-block-body__item */

    &__item {
        /* p-14-140/book */
        color: rgb(176, 179, 199);
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        border: 1px solid rgb(225, 228, 234);
        border-radius: 39px;
        padding: 2px 10px;
        white-space: nowrap;
    }
}
.footer-main-block-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-left-body-block-main-footer {
    display: flex;
    gap: 10px;
    /* .items-left-body-block-main-footer__img */

    &__img {
    }

    /* .items-left-body-block-main-footer__text */

    &__text {
        /* p-14-140/medium */
        color: rgb(0, 178, 234);
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}
.item-footer-main-block-body-left-items {
    display: flex;
    gap: 10px;
    padding: 5px 9.5px 5px 14.5px;
    border-radius: 5px;
    @media (max-width: $mobile) {
        padding: 5px 9.5px 5px 10px;
        gap: 5px;
    }
}

.items-left-body-block-main-footer {
    /* .items-left-body-block-main-footer__item */

    &__item {
        //items-left-body-block-main-footer__item_hide

        &_hide {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        //items-left-body-block-main-footer__item_activ

        &_activ {
            background-color: $primaru-light-blue;
            color: $primaru-blue;
        }
    }
}
.item-footer-main-block-body-left-items {
    /* .item-footer-main-block-body-left-items__img */

    &__img {
    }

    /* .item-footer-main-block-body-left-items__text */

    &__text {
        /* p-14-140/medium */
        color: #b0b3c7;
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}

.items-left-body-block-main-footer__item_activ .item-footer-main-block-body-left-items__text {
    color: $primaru-blue;
}

.items-right-body-block-main-footer {
    display: flex;
    gap: 15px;
    align-items: center;

    /* .items-right-body-block-main-footer__price */

    &__price {
        /* p-16-140/book */
        color: rgb(0, 178, 234);
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    //.items-right-body-block-main-footer__sponsorship

    &__sponsorship {
    }
}

.sponsorship-footer-main-block-body-right-items {
    display: flex;
    align-self: center;
    padding: 8px 10px;
    background-color: $primaru-light-blue;
    border-radius: 5px;
    //sponsorship-footer-main-block-body-right-items__text

    &__text {
        /* p-16-140/book */
        color: rgb(0, 178, 234);
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        @media (max-width: em(575)) {
            display: none;
        }
    }
}

.block {
    /* .block__content */

    &__content {
    }

    /* .block__more */

    &__more {
    }
}
.body-block-main {
    /* .body-block-main__text */

    &__text {
    }
}
.text-main-block-body {
    /* .text-main-block-body__content */

    &__content {
        /* p-16-140/book */
        color: rgb(45, 49, 66);
        font-family: FuturaPtBook;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }

    /* .text-main-block-body__more */

    &__more {
    }
}

.more-body-block-main-text {
    /* .more-body-block-main-text__show-more */

    &__show-more {
        color: $primaru-blue;
    }

    /* .more-body-block-main-text__hide */

    &__hide {
    }
}
.more-body-block-main-text__hide {
    display: none;
    color: $primaru-blue;
}
._showmore-active .more-body-block-main-text__show-more {
    display: none;
}

._showmore-active .more-body-block-main-text__hide {
    display: block;
}

.menu-hide-right-body-block-main-header-points {
    display: none;

    flex-direction: column;
    gap: 15px;
    border: 1px solid rgb(225, 228, 234);
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 28px;
    left: -125px;

    /* .menu-hide-right-body-block-main-header-points__item */

    &__item {
    }
}
.item-points-header-main-block-body-right-hide-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* .item-points-header-main-block-body-right-hide-menu__icon */

    &__icon {
    }

    /* .item-points-header-main-block-body-right-hide-menu__text */

    &__text {
        /* p-16-140/book */
        color: rgb(45, 49, 66);
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}
.menu-hide-right-body-block-main-header-points_active {
    display: flex;
}
